@using Microsoft.AspNetCore.Identity
@using TodoListApp.WebApp.Data
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - To-Do List</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark app-navbar mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-controller="TodoList" asp-action="Index">
                    <span class="app-brand-icon">&#9989;</span> To-Do List
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    @if (this.SignInManager.IsSignedIn(this.User))
                    {
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="TodoList" asp-action="Index">My To-Do Lists</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="AssignedTasks" asp-action="Index">Assigned Tasks</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Tag" asp-action="Index">Tags</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Search" asp-action="Index">Search</a>
                            </li>
                        </ul>
                        <ul class="navbar-nav">
                            <li class="nav-item d-flex align-items-center me-3 text-light">
                                <span>@this.UserManager.GetUserName(this.User)</span>
                            </li>
                            <li class="nav-item">
                                <form asp-controller="Account" asp-action="Logout" method="post" class="d-flex">
                                    <button type="submit" class="btn btn-outline-light btn-sm">Sign out</button>
                                </form>
                            </li>
                        </ul>
                    }
                    else
                    {
                        <ul class="navbar-nav flex-grow-1"></ul>
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Account" asp-action="Login">Sign in</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Account" asp-action="Register">Sign up</a>
                            </li>
                        </ul>
                    }
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2026 - To-Do List Application
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
